{% extends "Home/home.html" %} {% block main_block %} {% load staticfiles %}
<link rel='stylesheet' href="{% static 'css/home_contact.css' %}">
<div class="container conta">
    <div class="container">
        <div style="text-align:center">
            <h2>Contact Us</h2>
            <p>If you have any questions, we'll be more than happy to answer</p>
        </div>
        <div class="row">
            <div class="column">
                <img src="/static/images/tft.png" style="width:100%">
            </div>
            <div class="column">
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %} {{ contact_form.as_p }}
                    <input type="submit" name="" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}