{% extends "Home/home.html" %} {% block main_block %} {% load staticfiles %}
<link rel='stylesheet' href="{% static 'css/home_live.css' %}">
<script src="{% static 'js/home_live.js' %}"></script>
<div class="container conta">
    <div class="jumbotron index">
        <div id="flip">Titans KIDS Evolution System</div>

        <div id="panel">
            <ul class="list-group">
                <li class="list-group-item">
                    <!--Ce este Kids Evolution System?
                                Este un proiect care a luat nastele din dorinta de a schimba ceva... Acel ceva este modul
                                in care sportul se poate implica si schimba viata copiilor intr-un mod pozitiv creeand un mod de
                                viata sanatos si o evolutie mentala pozitiva. Vrem ca prin ce facem noi sa aducem un plus
                                dezvoltarii fizice si mentale intr-un mod placut si progresiv. Ne dorim sa le creem o mentalitate
                                pura de invingator, capabilitatea de a se adapta la orice schimbare, de a purta in permanenta
                                aceasi atitudine, viziune, pozitivitate, determinare, verticalitate si de a creste cu un set de
                                principii si valori incontestabile!-->
                    What is Kids Evolution System? It's a project born from the desire to change something ... That something would be the way any sport can change the lives of children in a positive way, creating a healthy lifestyle and a positive mental evolution. By what
                    we do at Titans Fight Team we want to contribute to the physical and mental development in a pleasant and progressive way. We want to inspire everyone to have the mentality of a winner, the ability to adapt to any change, to permanently
                    have a positive attitude, determination and to grow with a set of unquestionable principles and values!
                </li>
                <li class="list-group-item">
                    Cati dintre noi nu ne dorim sa avem copii nostri sa aibe o mentalitate de invingator?! Dar cati dintre noi facem ceva in legatura cu asta? Cati dintre noi reusim sa ne implicam in viata lor incat sa le oferim o dezvoltare mentala buna si sa le si urmarim
                    evolutia? Prin acest sistem venim in ajutorul dvs imbinand cele 2 caracteristici de management al dezvoltarii copilului: implicare in dezvoltare si urmarirea evolutiei, obtinand rezultate maxime datoraita statistici zilnice asupra
                    evolutiei.

                </li>
                <li class="list-group-item">

                    Kids Evolution System este solutia aprofundarii mentalitatii de invingator, principiilor sanatoase, calitatiilor pozitive si nasterea unor valori incontestabile care ii vor ajuta pe copii pe tot parcursul vietii sa ia decizii, sa cearna lucrurile din
                    jurul lor, sa aibe o atitudine de invingator, sa creasca sanatos si a aibe evolutie constanta.
                </li>

                <li class="list-group-item">

                    Este impartit pe 7 capitole (sanatate, prietenie, maniere, grija, responsabilitate, respect, perceptie ) si a fost gandit sa ofere parintelui o unelta inteligenta care creeaza o conexiune stransa cu copilul, o metoda de a se implica eficent in cresterea
                    acestuia oferindu-i o dezvoltare bilaterala atat fizica cat si mentala. Ce tine de partea fizica se va ocupa disciplina sportiva, Jiu Jitsu, care este un sport greu ce implica foarte mult efort fizic dar si inteligenta, creativitate,
                    gasirea solutilor intr-un timp scurt, atuu-ri care dezvolta calitati deosebite; iar de partea mentala se va ocupa Kids Evolution System.
                </li>

                <li class="list-group-item">

                    Kids Evolution Sistem functioneaza prin dezolvoltarea motivatiei de a acumula direct si indirect. Tot acest sistem este bazat pe recompensarea si aprecirerea rezultatelor obtinute in urma parcurgeri procesului. Oameni au fost construiti sa reactioneze
                    la tot felul de stimuli: motivare (pozitiva/negative & exterioara/interioara), apreciere, responsabilizare, etc si datorita lor se ajunge la obtinerea rezultatelor si a evolutiei. Fiecare dintre acesti stimuli are scopul de a impulsiona
                    o schimbare fie ea pozitiva sau negativa. Am transpus acesti stimuli in apreciere si le oferim copiilor puncte pentru fiecare sarcina indelinita, dand nastere unei “competitii interne” care in mod direct va declansa o alergare continua
                    dupa apreciere si indirect acumulare de informatii utile si dezvoltarea principiilor. Copii isi vor dori sa absoarba informati si sa faca lucururi datorita aprecirilor care le se aduc prin punctajul obtinut.
                </li>

                <li class="list-group-item">

                    Toate componentele acestui minunat sistem de evolutie va vor ajuta cu siguranta sa obtineti cele mai bune rezultate in cresterea si dezvoltarea copiilor dvs. Succes!
                </li>
            </ul>

        </div>
        <a class="nav-link" href="{% url 'Home:my_journey' %}"> <button type="button" class="btn btn-primary btn-lg">START My Journey</button></a>

    </div>

</div>
{% endblock %}