body {
    background-color: darkgreen;
    background-image: url("/static/images//junior.png");
  
    /* Center and scale the image nicely */
    background-color: darkgreen ;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

ul {
    font-size: x-large;
}

li {
border-right: 1px solid #bbb;
}
.active {
    background-color:gray;
  }

li a:hover {
    background-color: #111;
  }

.navbar-expand-sm {
    justify-content: flex-end;
}

#test {
    background-color: transparent;
    padding-right: 30%;
 
}