body {
    background-color: darkgreen;
    /*background-image: url("/static/images/factory.png");*/
    background-image: none;
  
    /* Center and scale the image nicely */
    background-color: darkgreen ;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

ul {
    font-size: x-large;
}

li {
border-right: 1px solid #bbb;
}
li a:hover {
    background-color: #111;
  }

.navbar-expand-sm {
    justify-content: flex-end;
}

#test {
    background-color: transparent;
    padding-right: 30%;
 
}

.row.test {
    margin-top: 10px;
    margin-right: 0%  

}

.nav-item.title.navbar-expand-sm {
    justify-content: flex-start;
}

